html {
    scroll-behavior: smooth;
}

    header {
    background-color: #ad5314;
    text-align: center;
}

header img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}    

h1 {
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    background: white;
    color: blue
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.menu-nav a {
    color: black;
}

.menu-nav a:hover {
    background: white;
    color: blue
}

h2 {
    text-align: center;
}

.to-go {
    text-align: center;
}

img {
    display: block;
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 40%;
}

#menu {
    background-color: bisque;
}

main {
    background-color: #ad5314;
    text-align: center;
}

#Appetizers {
    background-color: bisque;
}

#Entrees {
    background-color: bisque;
}

#Beverages {
    background-color: #89CFF0;
}
